
###############################################################
######################## ALL  INCLUDES ########################
###############################################################

#[include adxl.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include PARKING.cfg]
[exclude_object]
[gcode_arcs]
resolution: 0.1
[include KAMP_Settings.cfg]
[include ./KAMP/Line_Purge.cfg]
[include ./KAMP/Smart_Park.cfg]

###############################################################
######################## STEPPER SECTION ######################
###############################################################

[stepper_y]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 245
position_max: 245
homing_speed: 50
homing_positive_dir: true

[stepper_x]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 3.82375487821
endstop_pin: ^PC2
#position_endstop: 238.7
position_max: 238.7
position_min: -5
homing_speed: 25
second_homing_speed: 5
homing_positive_dir: true

###############################################################
######################### TMC DRIVERS #########################
###############################################################

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.9
stealthchop_threshold: 1

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.9
stealthchop_threshold: 1

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
stealthchop_threshold: 1

###############################################################
########################## EXTRUDER ###########################
###############################################################

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
full_steps_per_rotation: 200
microsteps: 32
rotation_distance: 22.6789511
gear_ratio = 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
pressure_advance: 0.1
min_temp: 0
max_temp: 300
max_extrude_only_distance: 350
max_extrude_cross_section: 10

###############################################################
###################### HEATERS AND FANS #######################
###############################################################

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan electronics_fan]
pin: PC6

[fan]
pin: PC7

###############################################################
########################## MACHINE ############################
###############################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_33FFDA053046473319610443-if00

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 20000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 15

[static_digital_output usb_pullup_enable]
pins: !PA14

[virtual_sdcard]
path: /home/user/printer_4_data/gcodes

[force_move]
enable_force_move: True

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

###############################################################
######################## SAVE_CONFIG ##########################
###############################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 238.700
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 93.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 48.0
