.bash_logout
.bashrc
.gitconfig
.profile
.wget-hsts
mjpg-streamer
printer-20231007_160839.cfg
printer.cfg
.cache/
.local/
.octoprint/
.ssh/
.vscode-server/
scripts/
OctoPrint/
.dotnet/
.bash_history
printer-*.cfg
